 
      body {
        font-family: 'Syne', sans-serif; 
            }
        
        .container {
          width: 100%;
          padding-right: 15px;
          padding-left: 15px;
          margin-right: auto;
          margin-left: auto;
        }
        
        .image-container {
          text-align: center;
          width: 100%;
        }
        
        .links-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 20px;
        }